@model SzParag.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Outcome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Outcome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
