@model SzParag.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StripCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StripCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category1.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category2.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category3.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
