@model IEnumerable<SzParag.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StripCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StripCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category2.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category3.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
